@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_FrontHeader.cshtml";
}

<section class="section pt-5" id="products">
    <div class="container-fluid">
<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image d-flex justify-content-center">
                    <img src="~/images/onlylogo-removebg-preview.png" alt="" style="width:50%">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>About Us &amp;</h4>
                    <span>The seller lists the item or items for sale, along with any relevant details such as description, condition, and starting bid price.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>The winning bidder pays the final bid amount to the seller, and arrangements are made for the transfer of the item.</p>
                    </div>
                    <p>
                        Bidders may employ various strategies, such as sniping (waiting until the last moment to place a bid) or proxy bidding (automatically increasing their bid to stay ahead of competitors).p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->
<!-- ***** Our Team Area Starts ***** -->
<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Amazing Team</h2>
                    <span>Details to details is what makes Hexashop different from the other themes.</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="~/images/shayan.jpeg" style="width:100%; height:301px;">
                    </div>
                    <div class="down-content">
                        <h4>Shayan Ahmed</h4>
                        <span>Front End Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                                <img src="~/images/umair.jpeg" style="width:100%; height:301px;">
                    </div>
                    <div class="down-content">
                        <h4>Muhammad Umair</h4>
                        <span>Back End Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                                <img src="~/images/ubaid.jpg" style="width:100%; height:301px;">
                    </div>
                    <div class="down-content">
                        <h4>Ubaid ullah</h4>
                        <span>Desginer</span>
                    </div>
                </div>
            </div>

                    <div class="col-lg-3">
                        <div class="team-item">
                            <div class="thumb">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <ul>
                                            <li><a href="www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="www.x.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                                <img src="~/images/aniq.jpeg" style="width:100%; height:301px;">
                            </div>
                            <div class="down-content">
                                <h4>Muhammad Aniq</h4>
                                <span>Team Leader</span>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
</section>
<!-- ***** Our Team Area Ends ***** -->
</div>
</section>